#app {
    position: relative; /* Make child elements position relative to this container */
    
    max-width: 1000px;  /* Set maximum width for the main container. */
    min-height: 100vh;  /* The container, should at minimum, take up the whole viewport height. */
    width: 100%;        /* Ensure it scales down on smaller screens. */

    overflow-y: hidden; /* Makes sure that no elements override the size of the container. */

    background-color: #ffffff; /* Optional background for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for styling */
}