#app {
    position: relative; /* Make child elements position relative to this container */
    
    max-width: 1920px;  /* Set maximum width for the main container. */
    min-height: 100vh;  /* The container, should at minimum, take up the whole viewport height. */
    width: 100%;        /* Ensure it scales down on smaller screens. */

    overflow-y: hidden; /* Makes sure that no elements override the size of the container. */

    background-color: var(--secondary_color); /* Optional background for the container */
    box-shadow: 0 0 10px var(--secondary_color); /* Optional shadow for styling */
}