body {
    margin: 0;

    background-color: var(--primary_color);    
}

#app {
    display: flex;
    justify-content: center;

    overflow: visible;
}

/* Padding and margin is accounted for with the size of the element (ex: width and height). */
*, *::before, *::after {
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

.flex_column {
    flex-direction: column;
}

.flex_row {
    flex-direction: row;
}

.center_horizontal {
    display: flex;
    justify-content: center;
}

.center_vertical {
    display: flex;
    align-items: center;
}