:root {
    /* Dynamic margin variables:
        * max_dyn_margin = maximum size of the margin, at it's peak.
        * min_dyn_margin = minimum size of the margin.
        * max_dyn_width  = maximum size for dynamic margin, after this the margin is fixed.
        * min_dyn_width  = minimum size for dynamic margin, after this the margin is fixed.
    */
    --max_dyn_margin: 304px; /* 19rem. */
    --min_dyn_margin: 32px;  /* 2rem. */
    --max_dyn_width: 1920px;
    --min_dyn_width: 420px;

    --dynamic_margin: 0; /* The variable to be used! */
}