/*
    Contains variables for shadows.
*/

:root {
    --shadow_height: 3px;
    --shadow_fade_height: 10px;

    --shadow_variant_1: 0 var(--shadow_height) var(--shadow_fade_height) var(--shadow_color_1);
}