:root {
    /* The main color of the page. */
    --color60: hsl(40, 100%, 93%);

    /* The secondary color. */
    --color30: hsl(240, 14%, 1%);

    /* The color for taking action. */
    --color10: hsl(34, 100%, 50%);
}