@font-face {
    font-family: Inter;
    src: url(font\Inter-VariableFont_slnt,wght.ttf);
}

:root {
    /* The main font used. */
    --font-main: Inter;

    /* The font weights that can be used (The thickness of the font). */
    --font-weight-l: 900;
    --font-weight-m: 600;
    --font-weight-s: 300;

    /* The different sizes of the font that will be used. */
    --font-size-x: 4em;
    --font-size-m: 2em;
    --font-size-s: 1.5em;
    --font-size-xs: 1em;
}

h1 {
    font-size: var(--font-size-x);
}
h2 {
    font-size: var(--font-size-m);
}
h3 {
    font-size: var(--font-size-s);
}
p {
    font-size: var(--font-size-xs);
}